<!-- Шаблонизатор Jinja2 (теги % %):
    % block % - определяет заменяемые секции
    % endblock % - закрывает блок -->

<!-- extends - шаблон наследует структуру от base.html.
Содержимое будет вставлено в соответствующие блоки родительского шаблона. 
-->
{% extends 'base.html' %}

{% block title %}Изменить статью{% endblock %}

{% block body %}
    <h1>Изменить статью</h1>
    <!-- method="post" - отправка данных POST-запросом -->
    <!-- Без указания action форма отправит данные на текущий URL -->
    <form method="post">
        <!-- 
          type="text" - текстовое поле
          name="title" - имя параметра для сервера
          id="title" - идентификатор для JavaScript/CSS
          class="form-control" - класс Bootstrap для стилизации
          placeholder="Название статьи" - подсказка в поле
        -->
        <input type="text" name="title" id="title" class="form-control" value="{{ article.title }}" placeholder="Название статьи"><br>
        <textarea name="intro" id="intro" class="form-control" placeholder="Анонс">{{ article.intro }}</textarea><br>
        <textarea name="text" id="text" class="form-control" placeholder="Текст статьи">{{ article.text }}</textarea><br>
         
        <input type="submit" class="btn btn-outline-success" value="Обновить">
    </form>    
{% endblock %}
