<!-- Шаблонизатор Jinja2 (теги % %):
    % block % - определяет заменяемые секции
    % endblock % - закрывает блок -->

<!-- extends - шаблон наследует структуру от base.html.
Содержимое будет вставлено в соответствующие блоки родительского шаблона. 
-->
{% extends 'base.html' %}

{% block title %}
    Главная
{% endblock %}

{% block body %}
<h2 class="text-body-secondary">Все рынки</h2>
<!-- Таблица -->
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col"> 
            <!--
                url_for('index', page=1, sort_by='market_name', order=...)                  - Генерирует URL вида /market_name/asc (или desc).
                order=('desc' if sort_by == 'market_name' and order == 'asc' else 'asc')    - определяет, какое направление сортировки (asc или desc) передать в URL:
            -->           
            <a class="link-body-emphasis text-decoration-none" 
                href="{{ url_for('index', page=1, sort_by='market_name', order=('desc' if sort_by == 'market_name' and order == 'asc' else 'asc')) }}">
                 <!--
                    if sort_by == 'market_name'     - если market_name == market_name, тогда показываем:
                    if order == 'asc' ▾ else ▴      - стрелку вниз если asc или вверх если desc
                -->
                Наименование 
                {% if sort_by == 'market_name' %}
                    {% if order == 'asc' %}▾{% else %}▴{% endif %}
                {% endif %}
            </a>
        </th>
        <th scope="col" class="dropdown">
            <a class="link-body-emphasis text-decoration-none" 
                href="{{ url_for('index', page=1, sort_by='city', order=('desc' if sort_by == 'city' and order == 'asc' else 'asc')) }}">
                Город{% if sort_by == 'city' %}{% if order == 'asc' %}▾{% else %}▴{% endif %}{% endif %}
            </a>
        </th>
        <th scope="col">
            <a class="link-body-emphasis text-decoration-none" 
                href="{{ url_for('index', page=1, sort_by='state', order=('desc' if sort_by == 'state' and order == 'asc' else 'asc')) }}">
                Штат{% if sort_by == 'state' %}{% if order == 'asc' %}▾{% else %}▴{% endif %}{% endif %}
            </a>
        </th>
        <th scope="col">
            <a class="link-body-emphasis text-decoration-none" 
                href="{{ url_for('index', page=1, sort_by='zip', order=('desc' if sort_by == 'zip' and order == 'asc' else 'asc')) }}">
                Индекс{% if sort_by == 'zip' %}{% if order == 'asc' %}▾{% else %}▴{% endif %}{% endif %}
            </a>
        </th>
        <th scope="col">
            <a class="link-body-emphasis text-decoration-none" 
                href="{{ url_for('index', page=1, sort_by='rating', order=('desc' if sort_by == 'rating' and order == 'asc' else 'asc')) }}">
                Рейтинг{% if sort_by == 'rating' %}{% if order == 'asc' %}▾{% else %}▴{% endif %}{% endif %}
            </a>
        </th>
    </tr>
    </thead>
    <tbody>
        {% for market in markets %}
        <tr>
            <th scope="row"><a class="text-decoration-none" href="/{{ market.market_id }}">{{ market.market_name }}</a></th>
            <td>{{ market.city }}</td>
            <td>{{ market.state_abbr }}</td>
            <td>{{ market.zip }}</td>
            <td style="color: #ffc107;">
                ★
                {% if market.avg_rating %}
                    {{ "%.1f"|format(market.avg_rating) }}
                {% else %}
                    -
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Пагинация -->
{% if markets.pages > 1 %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if markets.has_prev %}
            <li class="page-item">
                <a class="page-link" 
                   href="{{ url_for('index', page=markets.prev_num, sort_by=sort_by, order=order) }}">
                        &laquo;
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">&laquo;</span>
            </li>
        {% endif %}
        
        {% for p in markets.iter_pages() %}
            {% if p %}
                <li class="page-item{% if p == markets.page %} active{% endif %}">
                    <a class="page-link" 
                       href="{{ url_for('index', page=p, sort_by=sort_by, order=order) }}">
                            {{ p }}
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">...</span>
                </li>
            {% endif %}
        {% endfor %}
        
        {% if markets.has_next %}
            <li class="page-item">
                <a class="page-link" 
                   href="{{ url_for('index', page=markets.next_num, sort_by=sort_by, order=order) }}">
                    &raquo;
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">&raquo;</span>
            </li>
        {% endif %}
    </ul>
</nav>
{% endif %}

{% endblock %}