<!-- Наследуем базовый шаблон -->
{% extends "base.html" %}

<!-- Блок content, будет вставлен в базовый шаблон -->
{% block content %}
    <table>
        <tr valign="top">
            <td><img src="{{ user.avatar(128) }}"></td>
            <!-- user.username берется из переменной, переданной из app/routes.py -->
            <td><h1>Пользователь: {{ user.username }}</h1></td>
        </tr>
    </table>
    <hr>
    <!-- Цикл по всем постам пользователя -->
    <!-- posts - список, переданный из app/routes.py -->
    {% for post in posts %}
        <!-- include - оператор вызыват суб-шаблон -->
        {% include '_post.html' %}
    {% endfor %}
{% endblock %}
