<!doctype html>
<html>
  <head>
    <!--
    Условные операторы
    Если функция view забудет передать значение для переменной-заполнителя title, 
    то вместо отображения пустого заголовка шаблон предоставит заголовок по умолчанию.
    -->
    <!-- Блок управления заголовком страницы -->
    {% if title %}
      <!-- Если переменная 'title' передана в шаблон - используем её -->
      <title>{{ title }} - Микроблог</title>
    {% else %}
      <!-- Если 'title' не передана - используем заголовок по умолчанию -->
      <title>Микроблог</title>
    {% endif %}
  </head>
  <body>
    <div>
      Микроблог меню: 
      <a href="{{ url_for('index') }}">Домой</a> <!-- Ссылка на главную страницу -->
      <a href="{{ url_for('login') }}">Логин</a> <!-- Ссылка на страницу входа -->
      <!-- url_for() генерирует URL-адреса, используя свое внутреннее отображение URL-адресов для просмотра функций
      Например, выражение url_for('login') возвращает /login и url_for('index') возвращает /index-->
    </div>

    <!-- Горизонтальная разделительная линия -->
    <hr>

    <!-- Блок для отображения flash-сообщений -->
    {% with messages = get_flashed_messages() %} <!-- get_flashed_messages() получает все сообщения, установленные через flash() в Flask -->
      {% if messages %}
        <ul>
          {% for message in messages %}
            <!-- Вывод каждого сообщения -->
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    
    <!-- Блок для основного содержимого страницы из дочерних шаблонов -->
    {% block content %}{% endblock %}

  </body>
  <!-- -->
</html>